.container {
    width: 960 px;
    margin: auto;
}

p{
    text-align : justify;
}

.bg-black {
    background-color: black;
    color: #ffffffff
    text-align: center;
    padding : 20 px;
}

p odd {
    color: #ff0000
}

p even {
    color: #0000ff
}

th{
    background-color: #000000
    color: #ff0000
    padding: 10px;
}

td{
    background-color: #5370C3
    color: #ffffff
    padding: 10px;
}

